* {
    font-family: 'Muli', sans-serif;
}

body {
    background-color: #651fff;
}

.container {
    min-width: 300px;
    background-color: #e1bee7;
}

h1 {
    padding-left: 24px;
}

.form-padding-fix {
    padding-left: 0;
}

ul {
    min-height: 60vh;
}

.item-text {
    font-size: 16px;
    padding-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group-item {
    padding: 4px;
    display: inline;
}

.big-check {
    width: 32px;
    height: 32px;
    padding-right: 80px;
}

button {
    z-index: 999;
}

.list-group-item-success {
    text-decoration: line-through;
}