* {
    font-family: 'Muli', sans-serif;
}

.container {
    min-width: 300px;
    background-color: #e1bee7;
}

h1 {
    padding-left: 24px;
}

.form-padding-fix {
    padding-left: 0;
}

ul {
    min-height: 60vh;
}

li {
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group-item {
    padding: 4px;
    display: inline;
}

.big-check {
    width: 32px;
    height: 32px;
}
