.container {
    min-width: 300px;
    background-color: #e4b9b9;
}

.form-padding-fix {
    padding-left: 0;
}

ul {
    min-height: 60vh;
}

li {
    overflow: hidden;
    text-overflow: ellipsis;
}
